<?xml version="1.0" encoding="utf-8" ?>


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="logfileU" xsi:type="File" fileName="${specialfolder:folder=Desktop}/li4/AppServer/src/IO.Swagger/Logs/usersRecords.txt"
              layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
        <target name="logfileE" xsi:type="File" fileName="${specialfolder:folder=Desktop}/li4/AppServer/src/IO.Swagger/Logs/errorsRecords.txt"
              layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfileU" />
        <logger name="*" minlevel="Error" writeTo="logfileE" />
    </rules>
</nlog>
